<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AgenciaControllerdo</servlet-name>
        <servlet-class>Controlador.AgenciaControllerdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoControllerdo</servlet-name>
        <servlet-class>Controlador.EmpleadoControllerdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaqueteControllerdo</servlet-name>
        <servlet-class>Controlador.PaqueteControllerdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudControllerdo</servlet-name>
        <servlet-class>Controlador.SolicitudControllerdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignacionControllerdo</servlet-name>
        <servlet-class>Controlador.AsignacionControllerdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarEAControllerdo</servlet-name>
        <servlet-class>Controlador.EnviarEAControllerdo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgenciaControllerdo</servlet-name>
        <url-pattern>/AgenciaControllerdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoControllerdo</servlet-name>
        <url-pattern>/EmpleadoControllerdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaqueteControllerdo</servlet-name>
        <url-pattern>/PaqueteControllerdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudControllerdo</servlet-name>
        <url-pattern>/SolicitudControllerdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignacionControllerdo</servlet-name>
        <url-pattern>/AsignacionControllerdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarEAControllerdo</servlet-name>
        <url-pattern>/EnviarEAControllerdo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/jpa</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
